# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
.vscode/
*.pdf
git rm --cached LAB\ 1/LAB\ 1\.pdf LAB\ 2/LAB\ 2\ REPORT.pdf LAB\ 3/LAB\ 3\ REPORT.pdf LAB\ 4/LAB\ 4\ REPORT.pdf LAB\ 5/LAB\ 5\ REPORT.pdf LAB\ 6/LAB\ 6\ REPORT.pdf LAB\ 7/LAB\ 7\ REPORT.pdf LAB\ 8/LAB\ 8\ REPORT.pdf